{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{#hello#}
{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="email">Key (leave empty if not applicable)</label>
    <input type="text" name="email" placeholder="Portfolio demo admin mode: helloworld" id="email">
    <input type="submit" value="Register">
  </form>
{% endblock %}